.grid-container {
  display: grid;
  grid-template-columns: repeat(52, 20px);
  grid-gap: 1px;
  max-width: 1040px;
  margin: auto;
}
.grid-item {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}
.grid-item.completed {
  background-color: #76c7c0;
}
